/* App.css */

body {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
